{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Claudinéia – Biomédica Esteta</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="navbar">
    <div class="logo">
    <img src="{% static 'img/logo_principal_clinica.png' %}" alt="Claudinéia Estética">
</div>
    <nav>
        <a href="/">Home</a>
        <a href="/sobre/">Sobre</a>
        <a href="/servicos/">Serviços</a>
        <a href="/contato/">Contato</a>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <p>© 2026 Claudinéia – Biomédica Esteta</p>
</footer>

</body>
</html>
