{% extends 'pag_web_clinicas/base.html' %}

{% block content %}

<section class="hero">
    <h1>Realce sua beleza natural</h1>
    <p>Tratamentos estéticos faciais e corporais com tecnologia e cuidado profissional</p>

    <a class="btn" href="https://wa.me/5511971587144" target="_blank">
        Agendar pelo WhatsApp
    </a>
</section>

<section class="servicos">
    <h2>Principais Procedimentos</h2>

    <div class="cards">

        <div class="card">
            <h3>Botox e Preenchimento</h3>
            <p>Rejuvenescimento facial com naturalidade.</p>
        </div>

        <div class="card">
            <h3>Tratamentos de Pele</h3>
            <p>Microagulhamento para acne, manchas e melasma.</p>
        </div>

        <div class="card">
            <h3>Estética Corporal</h3>
            <p>Redução de gordura, celulite e flacidez.</p>
        </div>

    </div>
</section>

<section class="cta">
    <h2>Agende sua avaliação</h2>
    <p>Atendimento especializado para mulheres que buscam autoestima e bem-estar</p>

    <a class="btn" href="https://wa.me/5511971587144" target="_blank">
        Falar no WhatsApp
    </a>
</section>

{% endblock %}
