{% extends 'pag_web_clinicas/base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h1>Sobre Claudinéia</h1>
    <p>Biomédica Esteta especializada em procedimentos faciais e corporais</p>
</section>

<section class="sobre">
    <div class="sobre-conteudo">

        <img src="{% static 'img/clau_vieira.jpeg' %}" alt="Foto Claudinéia" class="foto-profissional">

        <h2>Quem sou eu:</h2>
        <p>Profissional Técnica que atua com sólida formação multidisciplinar, com habilitações em Biomedicina Estética, Patologia Clínica (Análises Clínicas), Sanitarista e Saúde Pública, unindo conhecimento técnico, cuidado integral e compromisso com a promoção da saúde e bem-estar.. Meu objetivo é realçar a beleza natural de cada paciente com segurança e cuidado.</p>

        <h2>Formação:</h2>
        <p>Graduada desde 2003 em Ciências Biológicas – Modalidade Médica (Biomedicina) pela Universidade de Mogi das Cruzes. Possui título de Mestra em Saúde Coletiva e Políticas em Saúde pela Universidade Estadual de Campinas.</p>

        <h2>Missão:</h2>
        <p>Proporcionar autoestima e bem-estar com atendimento humanizado e resultados naturais.</p>

        <h2>Valores:</h2>
        <p>Ética e compromisso profissional; Excelência no atendimento e cuidado humanizado; Respeito à individualidade e bem-estar de cada paciente; Atualização científica e aprimoramento contínuo; Responsabilidade, transparência e confiança; Promoção da saúde, autoestima e qualidade de vida; Empatia, acolhimento e escuta ativa; Segurança e qualidade nos procedimentos realizados; Dedicação à saúde integral e prevenção; Profissionalismo aliado à sensibilidade no cuidado estético e clínico;.</p>
    </div>
</section>
{% endblock %}